html, body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}
body {
    padding-top: 50px;
}

.navbar {
    margin-bottom: 0;
}
    .navbar-toggle {
        padding: 6px 10px;
    }

a {
    color: #333333;
    text-decoration: none;
    border-bottom: 1px solid #c0c0c0;;
}
    a.no-underline {
        border-bottom: 0;
    }

    a:focus,
    a:active,
    a:hover {
        color: #ff0000;
        text-decoration: none;
        border-bottom: 1px solid #f0b2b2;
    }

a.block,
a.block:focus,
a.block:active,
a.block:hover {
    display: block;
    border-bottom: 0;
}
    a.block span {
        border-bottom: 1px solid #c0c0c0;;
    }
        a.block.no-underline span {
            border-bottom: 0;
        }

    a.block:focus span,
    a.block:active span,
    a.block:hover span {
        border-bottom: 1px solid #f0b2b2;
    }

.modal-rz {
    min-width: 800px;
}

#left-bar {
    background-color: #eee;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 50px;
    width: 170px;
}

#content-bar {
    margin-left: 0px;
    padding: 27px 30px 0 30px;
}

#news-bar {
    max-width: 550px;
    padding-bottom: 1000px;
}
    #news-bar .item {
        margin-bottom: 50px;
    }

        #news-bar .item .title {
            color: #000;
            font-size: 1.1em;
            margin-bottom: 3px;
        }

        #news-bar .item .text {
            color: #646464;
            font-size: 0.9em;
            max-height: 55px;
            overflow: hidden;
            margin-bottom: 4px;
        }

        #news-bar .item .meta {
            color: #888;
            font-size: 0.8em;
        }
            #news-bar .item .meta span {
                margin-right: 5px;
            }
                #news-bar .item .meta span.dot:after {
                    content: '·';
                }

        #news-bar .item.read .title,
        #news-bar .item.read .title a,
        #news-bar .item.read .text,
        #news-bar .item.read .meta {
            color: #e1e1e1;
        }
            #news-bar .item.read .title a:focus span,
            #news-bar .item.read .title a:active span,
            #news-bar .item.read .title a:hover span {
                border-bottom: 1px solid #e1e1e1;
            }

#feeds-bar {
    padding: 28px 20px 20px;
    line-height: 2;
}
    #feeds-bar .item:first-child {
        margin-bottom: 10px;
    }
    #feeds-bar .item {
        font-size: 0.8em;
    }
        #feeds-bar .item .title,
        #feeds-bar .item .title a {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        #feeds-bar .item .counter {
            float: right;
        }

        #feeds-bar .item .active {
            font-weight: bold;
        }

#news-modal {

}
    #news-modal .modal-header {
        border: 0;
    }

    #news-modal .item .title {
        font-size: 1.6em;
        padding: 20px 46px 0 46px;
    }

    #news-modal .item .text {
        padding: 0 50px 40px 50px;
    }

    #news-modal .item .text img {
        display: block;
        max-width: 100%;
        margin: 30px 0;
    }

    #news-modal .modal-footer a {
        display: block;
        border-radius: 4px;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        width: 70%;
    }

    #news-modal .modal-footer a:hover {
        background-color: #f7f8f7;
    }

@media (min-width: 480px) {
    #left-bar {
        display: block;
    }

    #content-bar {
        margin-left: 170px;
    }
}

@media (min-width: 768px) {
    #left-bar {
        width: 270px;
    }

    #content-bar {
        margin-left: 330px;
    }

    #feeds-bar .item .title,
    #feeds-bar .item .title a {
        max-width: 200px;
    }
}